<?xml version="1.0"?>
<config>
    <modules>
        <Vaimo_Test>
            <version>0.0.5</version>
        </Vaimo_Test>
    </modules>
    <global>
        <events>
            <sales_order_place_before>
                <observers>
                    <vaimo_test_model_observer>
                        <class>Vaimo_Test_Model_Observer</class>
                        <method>saveIsManagedValue</method>
                    </vaimo_test_model_observer>
                </observers>
            </sales_order_place_before>
        </events>
        <blocks>
            <vaimo_test>
                <class>Vaimo_Test_Block</class>
            </vaimo_test>
            <checkout>
                <rewrite>
                    <onepage_billing>Vaimo_Test_Block_Onepage_Billing</onepage_billing>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Vaimo_Test_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <vaimo_test>
                <class>Vaimo_Test_Helper</class>
            </vaimo_test>
        </helpers>
        <resources>
            <vaimo_test_setup>
                <setup>
                    <module>Vaimo_Test</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </vaimo_test_setup>
        </resources>
        <models>
            <vaimotest>
                <class>Vaimo_Test_Model</class>
                <resourceModel>vaimotest_resource</resourceModel>
            </vaimotest>
            <vaimotest_resource>
                <class>Vaimo_Test_Model_Resource</class>
                <entities>
                    <postcode>
                        <table>vaimo_custom_postcode</table>
                    </postcode>
                    <relations>
                        <table>vaimo_managers_postcode_relations</table>
                    </relations>
                </entities>
            </vaimotest_resource>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <account_manager before="Mage_Adminhtml">Vaimo_Test_Adminhtml</account_manager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>